.container {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.column {
  flex-direction: column;
}

.body {
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  flex-grow: 1;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.space-around {
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}