.container {
  position: relative;
  width: 1000px;
  height: 600px;
  box-shadow: 0 30px 50px #505050;
}

.container img {
  position: absolute;
  top: 100%;
  width: 200px;
  height: 300px;
  object-position: 50% 50%;
  object-fit: cover;
  transform: translate(0%, -50%);
  border-radius: 36px;
  transition: 0.8s;
  left: calc(50% + 660px);
  opacity: 0;
  z-index: 1;
  box-shadow: 0 30px 50px #505050;
}

.container img:first-child {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  opacity: 1;
  box-shadow: none;
}

.container img:nth-child(2) {
  left: 50%;
  opacity: 1;
}

.container img:nth-child(3) {
  left: calc(50% + 220px);
  opacity: 1;
}

.container img:nth-child(4) {
  left: calc(50% + 440px);
  opacity: 1;
}

@keyframes slideToLast {
  from {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    opacity: 1;
    z-index: 0;
    box-shadow: none;
  }
  to {
    width: 200px;
    height: 300px;
    top: 80%;
    left: calc(50% + 660px);
    transform: translate(0%, -50%);
    object-position: 50% 50%;
    border-radius: 36px;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 30px 50px #505050;
  }
}

.slide_to_last {
  animation: slideToLast 0.8s step-end forwards;
}