@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  --background-color: #001317;
  --opposite-background-color: #efefef;
  --accent-color: #269ea0;
  --secondary-accent-color: #81404d;
  --main-text-color: #fff;
  --opposite-text-color: #000;
  --secondary-text-color: #afafaf;

  background-color: var(--background-color);
  color: var(--main-text-color);
  height: 100%;
}

h1 {
  font-size: min(8vw, 32px);
  line-height: 1.1;
}

code {
  font-family: Consolas, 'Courier New', monospace;
}

span {
  color: var(--secondary-text-color);
}