@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  --background-color: #001317;
  --background-color-2: #efefef; /* #cbd5e1 */
  --accent-color: #ffbb33;
  --accent-color-2: #81404d;
  --text-color: #fff;
  --text-color-2: #001317;
  --text-color-span: #afafaf;

  --accent-rgb: 255, 187, 51;

  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  font-size: 100%;
}

textarea,
input {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

h1 {
  font-size: min(8vw, 32px);
  line-height: 1.1;
}

h2 {
  font-size: min(8vw, 28px);
  line-height: 1.1;
}

code {
  font-family: Consolas, 'Courier New', monospace;
}

span {
  color: var(--text-color-span);
}

.shadow-drop-md {
  filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.5));
}